body {
  background-color: steelblue;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

h1 {
  font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

h3 {
  font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px;
}

p {
  font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}


blockquote {
  font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px;
}


pre {
  font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
}

.container {
  margin: 36px;
  background-color: floralwhite;
  border-radius: 10px;
  padding: 24px;
}
